@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

[data-highcharts-chart] {
  width: 100% !important;
  height: 90% !important;
}

:root {
  --radius: 0.6rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    @apply bg-zinc-50;
    --chart-1: #000;
  }
  .dark {
    @apply bg-zinc-950;
    --chart-1: #fff;
  }
}
